<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="df.farmponds">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:protectionLevel="signature" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/laucher_icon_farmpond"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/laucher_icon_farmpond"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="df.farmponds.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="df.farmponds.ContactUs_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"/>

        <activity
            android:name="df.farmponds.EditFarmPondDetails_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name="df.farmponds.AddFarmPondActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name="df.farmponds.EachFarmPondDetails_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name="df.farmponds.ViewFarmers_Activity" />
        <activity android:name="df.farmponds.CameraPhotoCapture" />
        <activity android:name="df.farmponds.Activity_FarmerHomeScreen" />
        <activity android:name="df.farmponds.Activity_HomeScreen" />
        <activity
            android:name="df.farmponds.Activity_MarketingHomeScreen"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name="df.farmponds.AddFarmer_Activity1"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name="df.farmponds.Activity_ViewFarmers"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name="df.farmponds.Admin_Total_FarmpondDetails_Activity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name="df.farmponds.Home_Activity" />
    </application>

</manifest>